<mat-tab-group (selectedTabChange)="onTabChanged($event)" [(selectedIndex)]="selectedTabIndex">
  <mat-tab *ngIf="authService.isLoggedIn$ | async" label="Books"></mat-tab>
  <mat-tab *ngIf="authService.isLoggedIn$ | async" label="Authors"></mat-tab>
  <mat-tab *ngIf="authService.isLoggedIn$ | async" label="Genres"></mat-tab>
  <mat-tab *ngIf="!(authService.isLoggedIn$ | async)" label="Login"></mat-tab>
  <mat-tab *ngIf="!(authService.isLoggedIn$ | async)" label="Register"></mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
